body {
  

}

.App-header {
  display: flex;
  float: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.NavBar {
  border: red 3px dashed;
  float: right;
  margin: 1vmin;
  
}
.Footer {
  border: green 1px dashed;
  font-size: calc(5px + 2vmin);
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.FooterCopyright {
  border: purple 3px dashed;
}

